<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav><div class ="container">
  <div class = "row">
    <div class="col-md-12">
      <h1>Form Pegawai</h1>
      <hr>
      <label form="nama">Nama</label>
      <input type="text" class="form-control" [(ngModel)]="nama">
      <label form="nama">NIP</label>
      <input type="text" class="form-control" [(ngModel)]="nip">
      <label form="nama">Alamat</label>
      <input type="text" class="form-control" [(ngModel)]="alamat">
      <label form="nama">Jenis Kelamin</label>
      <input type="text" class="form-control" [(ngModel)]="jk">
      <br>
      <button class ="btn btn-primary" (click)="tambahpegawai()">Tambah</button>
    </div>
  </div>
  <div class="row" *ngFor = "let Pegawai of daftarPegawai">
    <div class="col-md-12"></div>
    <h2>{{ pegawai.nama }}</h2>
    <h3>{{ pegawai.nip }}</h3>
    <p>{{ pegawai.alamat }}</p>
    <p>{{ pegawai.jk }}</p>
  </div>
</div>